Flask==3.0.3
flask-jwt-extended==4.6.0
SQLAlchemy==2.0.36
easyocr==1.7.1
opencv-python-headless==4.10.0.84
Pillow==10.4.0
numpy==2.0.1
pytesseract==0.3.13
python-dotenv==1.0.1
Werkzeug==3.0.3
requests==2.32.3
